@media (max-width:1000px){
     
    #btn-mas, .btn-mas .btn-2 {
        display: none;
    }

    .container {
        position: fixed;
        bottom:20px;
        right: 20px;
        display: block;
    }

    .menu li{
        list-style: none;
        padding: 8px;
        visibility: hidden;
        opacity: 0;
        margin-bottom: -15px;
        transition: all 500ms;
    }

    #btn-mas:checked ~ .menu li{
        visibility: visible;
        opacity: 1;
        margin-bottom: 10px; /*para la transicion*/
        
    }

    #btn-mas:checked ~ .menu, .btn-mas i {
        background-color: whitesmoke;
    }
    

    #btn-mas:checked ~ .btn-mas .icon-mas2 i{
        font-size: 2em;
        color: rgb(95, 97, 252);
        transform: rotate(180deg);
        border-radius: 50px;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
        
    }

    .menu ul a{
        color: #474bffff;
        text-decoration: none;
    }
    .menu ul li:hover{
        background-color: #2e2e31;
    }

    .menu ul a:hover {
        color: #de6903ff;
    }

    .menu, .btn-mas {
        text-align: center;
        
    }


    .btn-mas i {
        color: #474bffff;
        font-size: 3.5em;
        border-radius: 50px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
        transition: all 500ms;
    }
    /*****************/
    #home{
        height: auto;
    }
    
    #home nav {
        display: none;
    }
    
    #home header{
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    
    header .presentacion{
        align-items: center;
        width: 100%;
        padding-top: 10%;
    }
    
    header .dibujo{
        min-width: 300px;
        max-width: 350px;
    }
    
    header img {
        width: 100%; 
        padding-top: 30%;
        padding-bottom: 10%;
    }
    
    .conocimientos p,
    #cita p,
    .proyectos p,
    .contactame,
    footer p{
        font-size: 1em;
    }
    
    #conocimientos h1,
    #proyectos h1,
    #contacto h1 {
        font-size: 1.5em;
    }
    
    .conocimientos,
    .proyectos {
        padding-top: 11%;
    }
    
    #cita .quote{
        font-size: 5em;
    }
    
    #cita h3{
        font-size: 1.3em;
    }
    
    #formulario p {
        font-size: 1.1em;
    }
    /*******/
    
    #conocimientos hr {
        display: none;    
    }
    
    #contacto{
        width: 900px;
    }
    
}

@media (max-width:900px){
    header .presentacion{
        padding-top: 15%;
    }
    
    .cuadricula {
        width: 500px;
   }

    .cuadricula .itemcuadricula{
        width: 48%;
        line-height: 0.5em;
        padding-top: 10%;
        padding-bottom: 10%;
        margin-bottom: 4%;
    }

    .cuadricula .itemcuadricula i {
        font-size: 5.5em;
    }
/****/
        
    .conocimientos,
    .proyectos {
        padding-top: 15%;
    }
        
    #cita h3{
        font-size: 1.4em;
    }

    #proyectos .tarjetas p{
        font-size: 1.2em;
    }  

/********/
    #proyectos .tarjetas{
        width: 85%;
    }
    
    .tarjetas .itemtarjetas{
        width: 48%;
        margin-bottom: 3%;
        font-size: 0.9em;
    }
    
    .tarjetas .itemtarjetas p {
        padding-bottom: 10%;
        
    }
    
    #proyectos img {
        padding-top: 8%;
    }    

    #contacto{
        background-color: transparent;
        border: transparent;
        width: 90%;
    }

    .contactame, #formulario {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .contactame .redes {
        margin-top: 10px;
    }

    .redes .item-redes{
        width: 280px;
        height: 20px;
        display: inline-flex;
    }
    
}

@media (max-width:600px){
    header .presentacion{
        padding-top: 20%;
    }
    
    header .dibujo{
        width: 250px;
    }
    
/****************/
    .cuadricula {
        width: 400px;
   }

    .cuadricula .itemcuadricula i {
        font-size: 5em;
    }
    

    .conocimientos p,
    #cita p,
    .proyectos p,
    .contactame,
    footer p{
        font-size: 1.1em;
    }
    
    #conocimientos h1,
    #proyectos h1,
    #contacto h1 {
        font-size: 1.6em;
    }
    
    
    #cita {
        padding-top: 17%;
        padding-bottom: 17%;
    }

/****/

    .redes .item-redes{
        width: 300px;
        display: inline-flex;
    }

    #lista1 {
        display: none;
    }
    
}

@media (max-width:480px){

    header .presentacion{
        text-align: center;
        line-height: 1.2em;
    }

    header .presentacion h3{
        font-size: 1.4em;
    }

    header .presentacion h1{
        font-size: 3em;
        line-height: 0.9em;
    }

    header .presentacion p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1em;
    }

    header .dibujo{
        width: 55%;
    }
    
    .cuadricula {
        width: 80%;
   }

    .cuadricula .itemcuadricula p {
        font-size: 1.2em;
    }

    .cuadricula .itemcuadricula i {
        font-size: 4em;
    }

/************/
    
    #conocimientos h1,
    #proyectos h1,
    #contacto h1 {
        font-size: 1.5em;
    }
    
    .conocimientos,
    .proyectos {
        padding-top: 20%;
    }
    
    .cuadricula .itemcuadricula p{
        font-size: 0.9em;
    }

    #cita .quote{
        font-size: 4.5em;
    }
        
/********/
    
    #proyectos .tarjetas{
        width: 80%;
    }

    .tarjetas .itemtarjetas{
        width: 100%;
        margin-bottom: 6%;
        font-size: 0.9em;
    }

    .redes .item-redes{
        display: inline-flex;
        font-size: 0.9em;
    }


    #formulario .contentrow1{
        flex-direction: column;
    }

    #formulario .contentrow1 .row1{
        width: 100%;
    }

}

@media (max-width:320px){

    header .presentacion h3{
        font-size: 1.3em;
    }

    header .presentacion h1{
        font-size: 3em;
        line-height: 0.9em;
    }

    header .presentacion p {
        font-size: 0.9em;
    }

    header .dibujo{
        width: 70%;
    }

    .cuadricula .itemcuadricula{
        width: 100%;
        line-height: 0.5em;
        padding-top: 20%;
        padding-bottom: 20%;
        margin-bottom: 4%;
        
    }


    .cuadricula .itemcuadricula i {
        font-size: 6em;
    }

    /**********/
    .conocimientos p,
    #cita p,
    .proyectos p,
    .contactame,
    footer p{
        font-size: 0.9em;
    }
    
/******/
   
    .redes .item-redes{
        display: inline-flex;
        font-size: 1em;
    }

}
